#output{
  display: none;
}

#firstRow, #secondRow, #thirdRow{
  width: 1200px;
}


body {
  text-align: center;
  margin-top:2%;
  background-color: #FFDAD0;
}

.card {
  height:125px;
  font-size:80px;
}

.linebottom {
  border-bottom: 3px solid black;
}

.fightarea {
  height:600px;
}

.topbar {
  background-color: #CCCCFF;
  width:125px;
}

.bottombar {
  background-color: #01FFFF90;
}

.char1{
  background-color: black;
  height: 100px;
  width: 200px;
   position: absolute;
   z-index: 2;
}

.char2{
  border: 2px solid black;
  height: 100px;
  width: 100px;
   position: absolute;
   z-index: 2;
}

.attack {
  width: 200px;
}

.walker {
  background-color: orange;
  height: 25px;
  width: 25px;
  position: absolute;
  z-index: 2;
}
